<!DOCTYPE html>

<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<title> ToDo </title>
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>
	<body ng-app="myToDo">
		
		

		<div ng-controller="myCtrl" >
			<div class="header">
				
			<h1>My To Do List</h1>

			<form name="frm" ng-submit="addTodo()">
				<input type="text" placeholder="please enter...." name="newtodo" ng-model="newTodo" required/>
		
				<button class="addBtn" ng-click="myFunc()">Add</button>
				
			</form>
			</div>		
			<ul>
							
				<li ng-repeat="item in items">
				
					
					<span ng-class="{'clear': item.clear}">{{item.title}}
					
						
						<input type="checkbox" ng-model="item.clear" />

					</span>
				</li>
					
				
			</ul>
			<br>

			<div >
				<button class="clear-button"  ng-click="clearTodo()">Clear</button>
				
			</div>		
			
		</div>
		<script src="assets/js/main.js"></script>


	</body>
</html>
