* {
  box-sizing: border-box;
}

body
{
  font-family:Monospace;
    
  margin: 0;
  min-width: 250px;
}

.clear{
	text-decoration: line-through;
  
}

ul {
	list-style-type:decimal;
  float: left;
  margin: 0 1.5%;
  width: 63%;
}


form {
	margin-left: 30px;
	margin-right: auto;
	margin-top:40px ;
  margin-bottom:10px;
  padding: 10px;
}

h1{
  font-size: 50px;
}




input[type=checkbox] {
  transform: scale(1.52);
  position: fixed;

}


/* Style the header */
.header {
  
  padding: 30px 40px;
  color: white;
  text-align: center;
  background-image: url("img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 74%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: white;
  color: #555;
  float: right;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  position: absolute;
  right: 10px;
  top: 65px;
}

.clear-button {
  padding: 10px;
  width: 25%;
  background: white;
  color: #555;
  float: right;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  position: absolute;
  right: 10px;
  top: 125px;
}

.clear-button:hover {
  background-color: #bbb;
}


.addBtn:hover {
  background-color: #bbb;
}


/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 28px;
  transition: 0.2s;
  text-align: left;


}

